@page "/"

<PageTitle>KH Webshop</PageTitle>

<section class="hero">
    <div class="eyebrow">
        REST API + Blazor
    </div>

    <p>
        This is a demo fullstack application written in ASP.NET with a Blazor frontend.
    </p>

    <div class="hero-actions">
        <a class="primary-btn" href="/products">View products</a>
        <a class="secondary-btn" href="api/products">open the API</a>
    </div>

</section>

<section class="cards">
    <article class="card">
        <h2>Controllers</h2>
        <p>HTTP-endpoints for products & orders</p>
    </article>

    <article class="card">
        <h2>Services</h2>
        <p>Business logic behind interfaces</p>
    </article>

    <article class="card">
        <h2>Developed using Test-driven-development <a href="https://en.wikipedia.org/wiki/Test-driven_development" target="_blank">(TDD)</a> & the <a href="https://xunit.net/?tabs=cs" target="_blank">Xunit</a> framework</h2>
    </article>
</section>

<footer class="footer-section">
        <small>A simple little webshop built in C#</small>
</footer>